  google-cloud-storage
  openpyxl
  pytest
  pylint
  ipdb
  jupyterlab
  numpy
  pandas
  matplotlib
  seaborn
  scikit-learn
  joblib
  xgboost
  scipy
  PyYAML>=6.0
  pyarrow>=14
  fastapi
  uvicorn
  tensorflow>=2.16
  colorama
  python-dotenv
  httpx
  pytest-asyncio
  pytz
  fsspec
  gcsfs
